.container {
    width: 100%;
    text-align: center;
}
.title {
    font-weight: 700;
    color: #F67280;
    margin: 0 0 10px 0;
    font-size: 20px;
}
.text {
    color: #F67280;
    margin-bottom: 40px;
}