
 
.container {
   display: flex;
   margin-bottom: 50px;
}

.input {
   flex: 1 1 100%;
   padding: 10px 15px;
   border: 1px solid #F67280;
   border-radius: 4px;
   margin-right: 5px;
}

.button {
   cursor: pointer;
   font-weight: 700;
   border: 1px solid #F67280;
   border-radius: 4px;
   padding: 10px 25px;
   color: #F67280;
   transition: 0.25s;
   min-width: 100px;
   
   &:hover,
   &:focus { 
     border-color: #F8B195;
     color: #fff;
   }
}

 .button:hover,
 .button:focus {
   box-shadow: inset 0 0 0 2em #F67280;
 }